

language: scheme

sudo: enabled

before_install:
    - sudo apt-get update
    - sudo apt-get install -y chicken-bin
    - sudo chicken-install test matchable numbers

script:
    - cd src && make all 
